body.zipcode-false {
    background-image : url('http://serc.carleton.edu/images/sp/library/google_earth/google_maps_hello_world.jpg');
}
.modal-backdrop.light {
    background-color: #fff;
}

.search-zipcode {
  margin-top: 10px;
}

.search-label {
  color: #fff;
}
/** Bootstrap overrides **/
.navbar .btn {
  margin-top: 0;
}
