body {
    /*background-image : url('http://serc.carleton.edu/images/sp/library/google_earth/google_maps_hello_world.jpg');*/
}
.modal-backdrop.light {
    background-color: #fff;
}

.search-zipcode{
	margin-top: 10px;
}

.search-label{
	color: #fff;
}

/* Addon styles for bootstrap class goes here */

.navbar-inverse .navbar-inner{
	padding-left: 10px;
}

.content{
	margin-top: 51px;
}

.navbar .navbar-inner .btn{
	margin-top: 0;
}

.bs-docs-sidenav {
	width: 228px;
	margin: 30px 0 0;
	padding: 0;
}

.bs-docs-sidenav > li > a {
	display: block;
	width: 190px \9;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
}