<div id="enterZipCodeView">
    <div class="modal">
        <div class="modal-header">
            <h3>Enter your Zip code</h3>
        </div>
        <div class="modal-body">
            <form class="form-inline" name="zipCodeFrm" novalidate>
                <input type="text" name="zip" placeholder="Enter your zip code" required ng-pattern="/^\d{5,6}$/" ng-model="zipCode">
                <input type="submit" class="btn btn-primary" value="GO" ng-disabled="zipCodeFrm.$invalid" ng-click="sendZip(zipCode)">
            </form>
        </div>
        <div class="modal-footer">
            <p class="text-left text-success" ng-show="!zipCodeFrm.$invalid" ng-cloak>Zip code is valid</p>   
        </div>
    </div>
    <div class="modal-backdrop light fade in"></div>
</div>